html {
    background: url(/Images/background_image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.background-opacity {
    background: rgba(255 255 255 / 50%)
}

.main-container {
    width: max(75%, 800px);
    height: max(100vh);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: black;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.square {
    background-image: url(/Images/1.jpg);
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 1000px;
    width: 1000px;
    margin: 20px;
}

.navbar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: red;
    height: 100%;
    width: 100%;
}