html {
    background: url(/Images/background_image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.background-opacity {
    background: rgba(0 0 0/ 40%);
    height: 100vh;
}

.main-container {
    width: max(75%, 800px);
    height: max(100%);
    padding: 20px;
    margin: auto;
    background-color: rgb(223, 223, 223);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
}

.square {
    background-image: url(/Images/1.jpg);
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 55rem;
    width: 55rem;
    margin: 20px;
}

.square:hover {
    cursor: pointer;
}

.navbar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 0.5fr 4fr 1fr;
    grid-template-columns: 1fr;
}

.navbar-divider {
    border: 2px solid #ccc;
    border-style: none none none solid;
}

.margin-left-20px {
    margin-left: 20px;
}

.title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 3rem;
    display: flex;
    align-items: center;
}

.find-main-container {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
}

.find-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.find-title {
    font-size: 2rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
}

.find-done-container {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    align-items: center;
}

.green-box {
    background-color: green;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.find-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.find-logo {
    height: 85px;
    width: 85px;
    background-color: #bbb;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 25px;
}

.angry-bird {
    background: url(/Images/Angry\ Bird\ -\ Red.png) no-repeat center;
    background-size: 75px;
}

.superman {
    background: url(/Images/Superman.png) no-repeat center;
    background-size: 75px;
}

.mario {
    background: url(/Images/Mario.png) no-repeat center;
    background-size: 70px;
}

.meeseeks {
    background: url(/Images/Mr\ Meeseeks.png) no-repeat center;
    background-size: 35px;
}

.bg-green {
    background-color: green;
}

.time {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    font-size: 2rem;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
}

.time-digits {
    margin-left: 25px;
}

.reset {
    display: flex;
    justify-content: center;
    height: 48px;
    width: 48px;
    margin: auto;
    border: 0;
    background-color: transparent;
}

.reset:hover {
    cursor: pointer;
}

.reset:active {
    fill: #b6b6b6;
}